/* Here we can add anything we want to suit our project. */

.jumbotron {
  padding: 30px;
}

.container {
  padding-top: 100px; /* A quick hack to stop stuff from disappearing below fixed navbar: Change this if it's not suitable for your project. */
}
textarea {
  height: 140px;
}
/* max-width: 400px; A quick hack to stop forms from being waaaayyy tooo wide. Remove if you don't like. */
